<h1>Listing Toolboxes</h1>

<table class="table">
  <thead>
    <th>Name</th>
    <th>Url</th>
    <th>Owner(s)</th>
    <th></th>
    <th></th>
    <!--<th></th>-->
  </thead>

<% @toolboxes.each do |toolbox| %>
  <tr>
    <td><%= toolbox.name %></td>
    <td><%= toolbox.url %></td>
    <td><%= toolbox.users.collect{ |user| user.name}.join(' ,') %></td>


    <td><%= link_to 'Show', toolbox %></td>
    <td><%= link_to 'Edit', edit_toolbox_path(toolbox) %></td>
    <!--<td><%= link_to 'Destroy', toolbox, confirm: 'Are you sure?', method: :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toolbox', new_toolbox_path %>
