<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @toolbox.name %>
</p>

<p>
  <b>Description:</b>
  <%= @toolbox.description %>
  </p>



<p>
  <b>Url:</b>
  <%= @toolbox.url %>
</p>

<p>
  <b>Type:</b>
  <%= @toolbox.type %>
</p>

<p>
  <b>Users:</b>
  <% @toolbox.users.each do |user| %>
        <%= user.name %>, 
  <% end %>
  </p>

<p>
  <b>Tools:</b>
  <% @toolbox.tools.each do |tool| %>
        <%= tool.name %>, 
  <% end %>
  </p>




<%= link_to 'Edit', edit_toolbox_path(@toolbox) %> |
<%= link_to 'Back', toolboxes_path %>
