 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "CTO Toolbox app", '#', id: "logo" %>
          <nav>
	  <ul class="nav pull-right">
	<%# link_to "Sign in with Twitter", "/auth/t" %>
	<li><%= link_to "Tools",    tools_path %></li>

              <li><%= link_to "Tags",    '#' %></li>
              <li><%= link_to "Tags",    '#' %></li>
              <li><%= link_to "Users",    '#' %></li>
              <li><%= link_to "Sign in With Twitter", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
