 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "CTO Toolbox", root_path, id: "logo" %>
          <nav>
	  <ul class="nav pull-right">
	        <%# link_to "Sign in with Twitter", "/auth/t" %>
	        <li><%= link_to "All Tools",  tools_path %></li>
            <li><%= link_to "My Tools",  my_tools_path %></li>

            <li><%= link_to "Toolboxes",  toolboxes_path %></li>
            <% if session[:current_toolbox] 
                current_toolbox = Toolbox.find(session[:current_toolbox])
            %>
            <li><%=link_to "Toolbox: (#{current_toolbox.name})", toolbox_path(current_toolbox) %></li>
            <% end %>

            <li><%= link_to "Tags",    tags_path %></li>
            <li><%= link_to "Users",    users_path %></li>
              <% if session[:current_user] 
                 current_user = User.find(session[:current_user])
              %>
                  <li>  <%=link_to "Current User: #{current_user.name}", user_path(current_user) %></li>
              <% else %>
                  <li><%= link_to "Sign in (In Progress)", '#' %></li>
              <% end %>

            </ul>
          </nav>
        </div>
      </div>
      </header>

<% if flash[:notice] %>
    <div class="alert alert-info">
   <%= flash[:notice]%>
    </div>
<%  end %>
